@page "/fetchdata"
@inherits BaseCRUDPage<WeatherForecastListItem, WeatherForecastDetails, int>

<PageTitle>Weather forecast</PageTitle>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(currentItem == null)
    {
        <!-- Passo il tipo del generico così da aiutare a convertire l'oggetto nella lista (aiuta il compilatore) -->
        <Grid GridItemType="WeatherForecastListItem" Items="items" OnEdit="Edit" OnDelete="Delete" OnCreate="Create" />
    }
    else
    {
        <!-- Il context consente di lavorare su un determinato tipo di oggetto. Passando il contesto permetto a Details di lavorare sul contesto -->
        <Details HeaderPropertyName="Summary" DetailsType="WeatherForecastDetails" Item="currentItem" OnCancel="Cancel" OnSave="Save">
            <Fields Context="weather">
                <TextBox Label="Summary" @bind-Value="weather!.Summary" />
                <DateBox Label="Date" @bind-Value="weather.Date" />
                <IntegerBox Label="Temperature C" @bind-Value="weather.TemperatureC" />
            </Fields>
        </Details>
    }
}