@page "/fetchdata"
@inject IDataServices DataServices

<PageTitle>Weather forecast</PageTitle>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(currentForecast == null)
    {
        <Grid Forecasts="forecasts" OnEdit="Edit" OnDelete="Delete" OnCreate="Create" />
    }
    else
    {
        <Details CurrentItem="currentForecast" OnCancel="Cancel" OnSave="Save" />
    }
}

@code {
    private List<WeatherForecast?>? forecasts;
    private WeatherForecast? currentForecast = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await DataServices.GetWeatherForecastsAsync();
    }

    private void Edit(WeatherForecast forecast)
    {
        currentForecast = forecast;
    }

    private void Delete(WeatherForecast forecast)
    {
        if (forecast == currentForecast)
        {
            currentForecast = null;
        }
        forecasts?.Remove(forecast);
    }

    private void Cancel()
    {
        currentForecast = null;
    }

    private void Save(WeatherForecast forecast)
    {
        forecasts?.Add(forecast);
        currentForecast = null;
    }

    private void Create()
    {
        currentForecast = new();
    }
}
