@typeparam DetailsType

<h3>Details @valueHeaderPropertyName</h3>

<EditForm Model="Item" OnValidSubmit="@(() => OnSave.InvokeAsync(Item))"> 
    <DataAnnotationsValidator />

    @if(Fields is not null && Item is not null)
    {
        @Fields(Item)   
    }

    <button type="button" class="btn btn-default" @onclick="OnCancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public string? HeaderPropertyName { get; set; }

    //Questo tipo di parametro serve per iniettare del markup all'interno di un componente.
    [Parameter]
    public RenderFragment<DetailsType>? Fields { get; set; }

    [Parameter]
    public DetailsType? Item { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<DetailsType> OnSave { get; set; }

    private string? valueHeaderPropertyName;

    //Metodo invocato ogni volta che il parametro cambia.
    protected override void OnParametersSet()
    {
        if(!string.IsNullOrEmpty(HeaderPropertyName))
        {
            valueHeaderPropertyName = typeof(DetailsType)
                ?.GetProperty(HeaderPropertyName)
                ?.GetValue(Item)
                ?.ToString();
        }
        else
        {
            valueHeaderPropertyName = null;
        }
    }
}
